/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
//@import "../../../../theme/sass/conf/conf";

.form-group.row.search{
  padding-right:15px;
}

.table-responsive{
  width: 100%;
}

.mat-column-actions{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}

.mat-column-checkbox{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}

.mat-column-profile{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 18%;
  max-width: 18%;
}

.mat-column-mail{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 18%;
  max-width: 18%;
}

.mat-column-firm{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 18%;
  max-width: 18%;
}

.mat-column-name{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 18%;
  max-width: 18%;
}

.mat-column-forename{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 18%;
  max-width: 18%;
}
