/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.btn-link {
  border: none;
  color: #285eb8 !important;
  text-align: -webkit-auto;
  cursor: pointer;
}

.btn-link:visited {
  color: orange !important;
}

.btn-link-click {
  color: orange !important;
}


.desc {
  margin: 10px;
}

.description {
  white-space: pre-line;
  font-family: futura-pt, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  overflow-y: auto;
  word-wrap: break-word;
}


.information {
  line-height: 1.3;
}


.tooltipDescription {
  display: inline-block;

}

.tooltipDescription .tooltiptextDescription {
  visibility: hidden;
  //font-family: $font-family!important;
  font-size: 12px;
  width: auto;
  background-color: #0069b4;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;


  position: absolute;
  z-index: 1;
}

.tooltipDescription:hover .tooltiptextDescription {
  visibility: visible;
}

.mat-mdc-tab-body-wrapper{
  height:55rem;
}

.mat-tab-content{
  margin: 1rem;
  overflow: auto;
  font-size: 18px;
}
