<!--

    (c) Copyright 2017-2024, ANS. All rights reserved.

-->
<footer class="footer footer-principal" role="contentinfo">
    <div class="footer__region1">
      <div class="row smaller-footer">
        <div class="col-md-6 col-lg-3 text-center text-md-left">
          <div class="logos">
            <div class="logo logo--0">
              <a href="https://solidarites-sante.gouv.fr" rel="nofollow" target="_blank" title="Ministère de la Santé et de la Prévention (nouvelle fenêtre)">
  
                <img alt="Ministère de la Santé et de la Prévention" height="77" loading="lazy" src="img/logo-ministere.svg" width="133">
  
              </a>
            </div>
            <div class="logo logo--1">
              <a href="https://esante.gouv.fr/" rel="nofollow" target="_blank" title="Agence du Numérique en Santé (nouvelle fenêtre)">
  
                <img alt="Agence du Numérique en Santé" height="74" loading="lazy" src="img/logo-ANS-footer.svg" width="106">
  
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center text-md-left">
          <p class="footer__title">
            <strong> Agence du Numérique en Santé</strong> <br> 2-10 Rue d'Oradour-sur-Glane <br> 75015 Paris </p>
  
          <div class="m-social">
            <ul class="m-social__list">
              <li class="m-social__item">
                <a class="m-social__link" href="http://linkedin.com" rel="nofollow" target="_blank">
                  <div class="m-social__icon">
                    <svg aria-hidden="true" class="svg-icon svg-linkedin" focusable="false">
                      <use xlink:href="svg-icons/icon-sprite.svg#linkedin"></use>
                    </svg>
                  </div>
                  <span class="sr-only">linkedin</span> </a>
              </li>
              <li class="m-social__item">
                <a class="m-social__link" href="http://twitter.com" rel="nofollow" target="_blank">
                  <div class="m-social__icon">
                    <svg aria-hidden="true" class="svg-icon svg-twitter" focusable="false">
                      <use xlink:href="svg-icons/icon-sprite.svg#twitter"></use>
                    </svg>
                  </div>
                  <span class="sr-only">twitter</span> </a>
              </li>
              <li class="m-social__item">
                <a class="m-social__link" href="http://youtube.com" rel="nofollow" target="_blank">
                  <div class="m-social__icon">
                    <svg aria-hidden="true" class="svg-icon svg-youtube" focusable="false">
                      <use xlink:href="svg-icons/icon-sprite.svg#youtube"></use>
                    </svg>
                  </div>
                  <span class="sr-only">youtube</span> </a>
              </li>
              <li class="m-social__item">
                <a class="m-social__link" href="#" rel="nofollow" target="_blank">
                  <div class="m-social__icon">
                    <svg aria-hidden="true" class="svg-icon svg-rss" focusable="false">
                      <use xlink:href="svg-icons/icon-sprite.svg#rss"></use>
                    </svg>
                  </div>
                  <span class="sr-only">rss</span> </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 text-center text-md-left">
        </div>
        <div class="text-center text-md-left">
          <div class="version container">Version {{version}}<span translate>commons.copyright</span>
          </div>
        </div>
      </div>
    </div>
  </footer>