#*
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 *#
<html>
 
<head></head>
 
<body>
<p>Bonjour,</p>
<p>Platines a annul&eacute; l&#39;ex&eacute;cution de la session de l&#39;utilisateur ${userCompleteName} cr&eacute;&eacute;e le ${creationDate} par manque de ressource. Une notification lui a &eacute;galement &eacute;t&eacute; envoy&eacute;e &agrave; l&#39;adresse ${userEmailAdresse}
</p>
</body>
</html>
