#*
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 *#
<html>
 
<head></head>
 
<body>

<p>Bonjour ${firstName},<br/>
Vous avez r&eacute;cemment demand&eacute; de r&eacute;initialiser le mot de passe pour votre compte Platines.<br/>
Pour mettre &agrave; jour votre mot de passe, cliquez sur le lien suivant:<br/>
</p>
<a href="${url}">Cliquez ici</a>
</body>
</html>