#*
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 *#
<html>
<head></head>
 
<body>
<p>Bonjour ${firstName},</p>
<p>L&#39;ex&eacute;cution de votre session de test du ${creationDate} a &eacute;t&eacute; annul&eacute;e par l&#39;administrateur Platines.
<br/>Veuillez nous excuser pour la g&ecirc;ne occasionn&eacute;e.
</p>
</body>
</html>