/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
//@import "../../theme/sass/conf/conf";

.ptn-pos {
  float: right;
  margin-top: 10px;
}

.annuler-pos {
  margin-top: 10px;
}

.card-body{
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: white;
}

.ckeditorContent {
  margin-bottom: 20px;
}

.divBtn {
  text-align: right;
}

.divBtn i {
  padding-right: 5px;
}

//@import '../../theme/styles/themes';
//@import '~bootstrap/scss/mixins/breakpoints';
//@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

//@include nb-install-component() {
//
//  nb-card-footer {
//    padding-bottom: 0.25rem;
//
//    button {
//      margin: 0 1rem 1rem 0;
//    }
//  }
//
//  /* stylelint-disable */
//  toaster-container ::ng-deep {
//     #toast-container .toast-close-button {
//      right: 0;
//    }
//  }
//  /* stylelint-enable */
//
//  @include media-breakpoint-down(xs) {
//    .dropdown-toggle {
//      font-size: 0.75rem;
//    }
//  }
//}

.ck.ck-editor__editable_inline{
  border-color: var(--ck-color-toolbar-border) !important;
}

.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable){
  box-shadow: unset !important;
}
