/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.mat-column-actions{
  width: 100px;
}

.mat-column-visibility{
  width: 100px;
}

.form-group.row.search{
  padding-right:15px;
}

.list-btn-actions{
  text-align: end;
}
