/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.composant {
    margin: 20px 10px 10px 20px;
}
.divValidation {
    display: inline;
    float: right;
    margin-top:10px;
    margin-bottom:10px;
}

.custom-radio{
  white-space: nowrap;
}
.invalid-description{
  padding-left: 2rem;
}
