/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
//@import '../../theme/sass/auth';

.tooltipAr {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #b5b5b5;
  padding-left: 0px;
}

.tooltipAr .tooltiptextAr {
  visibility: hidden;
  font-family: futura-pt, Arial, sans-serif;
  font-size: 16px;
  width: 320px;
  background-color: #0069b4;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  z-index: 1;
}

.tooltipAr:hover .tooltiptextAr {
  visibility: visible;
}

.aideCircle {
  font-size: 25px;
  margin-top: 5px;
}

.card-body{
  margin: 1.5rem;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  background-color: white;
}

.composant {
  margin: 20px 10px 10px 20px;
}
