/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.ptn-pos {
  float: left;
  margin-top: 20px;
  margin-right: 20px;
}

.divDetail {
  text-align: right;
  margin-top: -10px;
}

.errorConsole {
  height: 337px;
  border: 3px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.testStep {
  height: 40%;
  border: 3px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  height: 220px;
}

.desc {
  margin: 10px;
}

pre.error {
  margin: 10px;
  white-space: pre-line;
  line-height: 1.3;
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}

.frame {
  height: 628px;
  border: 1px solid var(--gray-400);
  position: relative;
  border-radius: 1.4rem;
}

//@import '../../../../theme/sass/conf/conf';
.alert {
  padding: 0.0rem 0.5rem;
  margin-bottom: 1rem;
  border: 3px solid #b5b5b5;
  border-radius: 0.2rem;
  //font-family: $font-family;
}

.arrow-right {
  margin-left: 100px;
}

.cadre {

  border: 3px solid #b5b5b5;
  margin-top: 27px;
  padding: 10px 10px 10px 10px;
  height: 60%;
  background-color: #ffffff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f4f4f4);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#f4f4f4)";
}


.info {
  display: flex;
}

fieldset {
  border: 3px solid #b5b5b5;
  margin-bottom: 5px;
  line-height: 1;
}

.info2 {
  height: 628px;
}

.btnRetour {
  float: right;
}

.checked {
  color: green;
}

.failed {
  color: rgb(200, 0, 0);
}

.waiting {
  color: blue;
}

.log {
  max-height: 260px !important;
}

.btn-tree {
  line-height: 0.7 !important;
  font-size: 12px;
  margin-bottom: 10px;
}

.div-contenu {
  border: 1px solid var(--gray-400);
  border-radius: 1.4rem;
  font-size: 16px;
  height: 29.5rem;
  overflow: hidden;
}

.div-contenu:first-child{
  margin-bottom: 1rem;
}

.div-contenu.full-height{
  height: 60rem;
}

app-cadre-general-element-session {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.treeFrame{
  height: 61rem;
}

.div-log {
  border: 3px solid #b5b5b5;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.1;
  height: 57%;
}


.pre-message {
  margin: 10px;
  overflow:unset !important;
}

a:not([href]) {
  color: #285eb8 !important;
  text-decoration: none !important;
  transition: color 0.2s ease;
  touch-action: manipulation;
  cursor: pointer;

}

li {
  word-break: break-all;
  margin-left: 10px;
}

.table-responsive {
  margin-top: 0px;
}

nb-tab {
  overflow: hidden !important;
}

.low-alert {
  box-shadow: 0 0 0 2pt rgb(105, 105, 105);
  border-radius: 2px;
  font-size: small;
  color: white;
  background-color: rgb(105, 105, 105);
  background-clip: padding-box;
}

.medium-alert {
  box-shadow: 0 0 0 2pt rgb(200, 100, 0);
  border-radius: 2px;
  font-size: small;
  color: white;
  background-color: rgb(200, 100, 0);
  background-clip: padding-box;
}

.high-alert {
  box-shadow: 0 0 0 2pt rgb(200, 0, 0);
  border-radius: 2px;
  font-size: small;
  color: white;
  background-color: rgb(200, 0, 0);
  background-clip: padding-box;
}

.custom-check {
  box-shadow: 0 0 0 2pt rgb(105, 105, 105);
  border-radius: 2px;
  font-size: small;
  color: white;
  background-color: rgb(105, 105, 105);
  background-clip: padding-box;
}

.description{
  font-size: 18px;
}
.btn-back {
  padding-top: 1rem;
  display:flex;
  justify-content: right;
}

.left{
  padding-left: 0;
  padding-right: 0.5rem;
}

.right{
  padding-left: 0.5rem;
  padding-right: 0;
}


.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title > span:first-child:not(:last-child){
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title > span.context-select-bar {
  align-items: center;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  width: 50%;
}

.card-title > button {
  margin: 0px 3rem;
}

.card-title > span > mat-select{
  max-width: calc(100% - 10rem);
}
