/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.btn{
    margin-right: 10px;   
    margin-bottom: 20px;
}

.FileUpload {
            opacity: 0;
            
            position: absolute;
    z-index: 7000;
    width: 100%;
    cursor: pointer;
 }
 .label-date {
      margin-left: 10px;

  }
  .label-text {
      margin-right: 0px;
     margin-left: 15px;   
 }
 