/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.mat-column-actions{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}

.mat-column-visibility{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}

.mat-column-family{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 12%;
  max-width: 12%;
}
.mat-column-service{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 12%;
  max-width: 12%;
}
.mat-column-label{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 12%;
  max-width: 12%;
}
.mat-column-description{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 54%;
  max-width: 54%;
}
