/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.objetTree {
  height: 550px;
  border: 1px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
  position: relative;
  border-radius: 5px;
}

.tree-title{
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.drop-zone {
  background-image: url(./../../../../../assets/images/icons8-add-file-75.png);
  background-repeat: no-repeat;
  background-position: center;
}

.testStep {
  height: 230px;
  border: 1px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
}

.mat-tree-node {
  font-size: 18px;
}

fieldset.description {
  height: 550px;
  border: 1px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
}

pre.description {
  white-space: pre-line;
  max-height: 420px;
  font-size: 18px;
  font-family: futura-pt, Arial, sans-serif;
  line-height: 1.3;
  overflow-y: auto;
  word-wrap: break-word;
  margin: 10px;
}

.annulSupr {
  float: left;
  margin: 10px 10px 10px 10px;
}

legend {
  line-height: 1;
}

.info {
  display: flex;
  overflow: hidden;
}

.col-md-12.info{
  padding-left: 0;
  padding-right: 0;
}

.table-responsive.files-table{
  margin-top: 1rem;
}

.div-info {
  border: 1px solid var(--gray-400);
  background-color: white;
  border-radius: 1.4rem;
  font-size: 18px;
  line-height: 1.1;
  width: 100%;
  height: 60rem;
  overflow: auto;
}

li.breadcrumb-item{
  margin-left: 0;
}

.tree.div-info {
  padding-top: 1.3rem;
}

.btn-back {
  float: right;
}

.divBtn {
  text-align: right;
  margin-top: 20px;
}

.divBtn button {
  margin-left: 1rem;
}

.fieldSet {
  border: 3px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

a:not([href]) {
  color: #285eb8 !important;
  text-decoration: none !important;
  transition: color 0.2s ease;
  touch-action: manipulation;
  cursor: pointer;
}

li {
  margin-left: 10px;
  word-break: break-all;
}

.nav.nav-tabs {
  background-color: #b5b5b57d !important;
  height: 34px;
}

.nav.nav-tabs > li.active > a {
  background-color: #b5b5b5 !important;
}

nav.nav-tabs > li > a.btn:hover {
  background-color: #b5b5b5 !important;
  display: inline-table !important;
  vertical-align: middle;
}

.table-responsive {
  margin-top: 0px;
}

div.description {
  max-height: 620px;
  font-size: 18px;
  font-family: futura-pt, Arial, sans-serif;
  line-height: 1.3;
  //overflow-y: scroll;
  word-wrap: break-word;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.nested-node {
  padding-left: 40px;
}

.invisible {
  display: none;
}

.mat-tree {

  font-family: futura-pt, Arial, sans-serif;
  font-size: 18px;
}

.clickable-tree-node {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1.4rem;
}

.clickable-tree-node:hover {
  background-color: whitesmoke;
}

.background-highlight {
  background-color: var(--gray-300);
}

.clickable-tree-node.background-highlight:hover {
  background-color: var(--gray-300);
}

.mat-column-fileName {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 60%;
  max-width: 60%;
}

.mat-column-resourceType {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 35%;
  max-width: 35%;
}

.mat-column-checkbox {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 5%;
  max-width: 5%;
}

.description {
  margin: 1rem;
  padding: 0.3rem;
}

.warning-text{
  color: #D20024 !important;
}
