<!--

    (c) Copyright 2017-2024, ANS. All rights reserved.

-->
<div class="widgets">
  <div class="col-lg-12 col-md-12">
    <div class="card">

      <nav aria-label="Fil d'ariane" class="breadcrumb-wrapper" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/pages/accueil" translate>pages.home.title
            <svg aria-hidden="true" class="svg-icon svg-angle-right" focusable="false">
              <use xlink:href="svg-icons/icon-sprite.svg#angle-right"></use>
            </svg>
          </a></li>
          <li class="breadcrumb-item"><a routerLink="./" translate>pages.projects.title </a></li>
        </ol>
      </nav>

      <div class="card-header clearfix">
        <h3 class="card-title" translate>pages.projects.title</h3>
      </div>
      <div id="treeAndTable">
        <div class="sticky flex-column">
          <div class="card-body" id="tree">
            <app-project-list-tree
              [allowMultipleSelection]="true"
              (nodeClick)="onNodeSelect($event)"
              (scrolledToOut)="scrolledTo = $event"
              [scrollTo]="this.contextStateService.scrollPositions.get('projectListTree')"
              [activeNodes]="selectedNodes"
              [projectObs]="projectSrc"
              [innerHeight]="'inherit'">
            </app-project-list-tree>
          </div>
          <span *ngIf="this.isManager" class="flex-row justify-content-center" id="treeButton">
            <button class="btn btn--ghost btn--default" (click)="onBulkMaj()">
              <span translate>pages.projects.labels.bulk_update.maj_button</span>
            </button>
          </span>
        </div>
        <div id="searchAndTable">
          <div id="tableHeader">
            <div id="leftSideOfTableHeader">
              <h3 translate>pages.projects.table_title</h3>
            </div>
            <div  class="form-group row search" id="rightSideOfTableHeader">
            <div class="col-sm-4 col-search flex-row form-group-wrap form-group-wrap--right">
              <input #search (keyup)="applyFilter()" (ngModelChange)="this.contextStateService.filters.set(this.metadata.selector, $event)" [ngModel]="this.contextStateService.filters.get(this.metadata.selector)" class="form-control zone-search" matInput placeholder="{{'commons.labels.search' | translate}}">
              <svg aria-hidden="true" class="svg-icon svg-search" focusable="false">
                <use xlink:href="svg-icons/icon-sprite.svg#search "></use>
              </svg>
            </div>
            <div *ngIf="this.isManager" class="col-sm-7 margin-btn">
              <div class="list-btn-actions">
                <button (click)="deleteProject()" [disabled]="selection.selected.length===0" class="btn btn--default btn--ghost" id="btnDeleteProject" translate type="button">commons.actions.delete
                </button>
                <button (click)="addProject()" class="btn btn--plain btn--primary" id="btnAddProject" translate type="submit">
                  commons.actions.add
                </button>
              </div>
            </div>
              </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table [dataSource]="dataSource" aria-label="Tableaux des projets" class="mat-elevation-z8" mat-table matSort matSortActive="name" matSortDirection="asc">

                <ng-container matColumnDef="dateUpload">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    <span translate>{{this.labelsPath}}.dateUpload</span></th>
                  <td *matCellDef="let element" mat-cell>{{element.dateUpload | date:dateFormat}}</td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    <span translate>{{this.labelsPath}}.role</span></th>
                  <td *matCellDef="let element" mat-cell>
                    <span translate>{{this.labelsPath}}.roles.{{element.role}}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    <span translate>{{this.labelsPath}}.name</span>
                  </th>
                  <td (click)="toggleExpandName(element)" *matCellDef="let element" class="expandable" mat-cell>
                    <span [ngClass]="{'max-lines':!element.expandedName}">{{element.name}}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    <span translate>{{this.labelsPath}}.description</span>
                  </th>
                  <td (click)="toggleExpandDescription(element)" *matCellDef="let element" class="expandable" mat-cell>
                    <span [ngClass]="{'max-lines':!element.expandedDescription}">{{element.description}}</span>
                  </td>
                </ng-container>

                <ng-container *ngIf="this.isManager" matColumnDef="visibility">
                  <th *matHeaderCellDef class="text-center" mat-header-cell mat-sort-header>
                    <span translate>{{this.labelsPath}}.visibility</span></th>
                  <td *matCellDef="let element" class="text-center" mat-cell>
                  <span>
                    <svg *ngIf="element.visibility" aria-hidden="true" class="icon-green svg-icon svg-circle-check" focusable="false"><use xlink:href="svg-icons/icon-sprite.svg#circle-check"></use></svg>
                    <svg *ngIf="!element.visibility" aria-hidden="true" class="icon-red svg-icon svg-circle-cross" focusable="false"><use xlink:href="svg-icons/icon-sprite.svg#circle-cross"></use></svg>
                  </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th *matHeaderCellDef class="text-center" mat-header-cell>
                    <span translate>{{this.labelsPath}}.actions</span>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                  <span class="action-column">
                    <span class="action-row">
                      <button [routerLink]="['../projetDetail',element.id]"
                              matTooltip="{{'icons.projectDetails'|translate}}"
                              [matTooltipPosition]="'above'"
                              [matTooltipClass]="'tooltip-inner'">
                        <svg aria-hidden="true" class="svg-icon svg-view-results" focusable="false"><use xlink:href="svg-icons/icon-sprite.svg#view-results"></use></svg>
                      </button>
                      <button (click)="downloadCertif(element)" [disabled]="element.testCertificate===null || !element.testCertificate.downloadable"
                              matTooltip="{{'icons.projectCertificate'|translate}}"
                              [matTooltipPosition]="'above'"
                              [matTooltipClass]="'tooltip-inner'">
                        <svg aria-hidden="true" class="svg-icon svg-download" focusable="false">
                          <use xlink:href="svg-icons/icon-sprite.svg#download"></use>
                        </svg>
                      </button>
                    </span>
                    <span class="action-row">
                      <button *ngIf="this.isManager" [queryParams]="{id:element.id}" [routerLink]="['../create']"
                              matTooltip="{{'icons.editProject'|translate}}"
                              [matTooltipPosition]="'below'"
                              [matTooltipClass]="'tooltip-inner'">
                          <svg aria-hidden="true" class="svg-icon svg-edit" focusable="false">
                            <use xlink:href="svg-icons/icon-sprite.svg#edit"></use>
                          </svg>
                      </button>
                      <button (click)="downloadProject(element)" *ngIf="this.isManager"
                              matTooltip="{{'icons.projectDownload'|translate}}"
                              [matTooltipPosition]="'below'"
                              [matTooltipClass]="'tooltip-inner'">
                        <svg aria-hidden="true" class="svg-icon svg-file-text" focusable="false">
                          <use xlink:href="svg-icons/icon-sprite.svg#file-text"></use>
                        </svg>
                      </button>
                    </span>
                  </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="checkbox">
                  <th *matHeaderCellDef mat-header-cell>
                    <div class="custom-control text-center custom-checkbox">
                      <input (click)="setAll($event)" [checked]="isAllSelected()" [indeterminate]="!isAllSelected() && selection.hasValue()" class="custom-control-input" type="checkbox">
                    </div>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    <div class="custom-control text-center custom-checkbox">
                      <input (change)="setRow(element)" [checked]="selection.isSelected(element)" class="custom-control-input" type="checkbox">
                    </div>
                  </td>
                </ng-container>

                <tr *matNoDataRow>
                  <td class="text-center" colspan="100%">
                    <span *ngIf="loadingDataSource" translate>{{this.labelsPath}}.loading</span>
                    <span *ngIf="!loadingDataSource && this.selectedNodes.length>0" translate>{{this.labelsPath}}.no_data</span>
                    <span *ngIf="!loadingDataSource && this.selectedNodes.length===0" translate>{{this.labelsPath}}.no_selection</span>
                  </td>
                <tr *matHeaderRowDef="allColumns" mat-header-row></tr>
                <tr *matRowDef="let emprow; columns: allColumns" mat-row></tr>
              </table>
            </div>
          </div>
          <mat-paginator
            ansPaginatorStyle
            [length]="dataSource.data.length"
            [showTotalPages]="5"
            [pageSizeOptions]="[20,50,100]"
            aria-label="Select page of projects">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
