/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.page-item.active .page-link {
  color: black !important;
}

.ptn-pos {
  float: right;
  border-color: #b5b5b5;
  background-color: #b5b5b5;
}

#btnSupr {
  background-color: #b5b5b5;
}

.btnTableau {
  background-color: #b5b5b5 !important;
  border-color: #b5b5b5 !important;

}

#btnValidation {
  background-color: #b5b5b5;
}

.gt-button {
  width: 10px !important;
}

td.certificat-column {
  width: 10px !important;
  vertical-align: middle !important;
}

.column-icon {
  max-width: 50px !important;
}

.center {
  margin: auto;
}

.mat-column-name{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 20%;
  max-width: 20%;
}
.mat-column-dateUpload{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 15%;
  max-width: 15%;
}
.mat-column-role{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 13%;
  max-width: 13%;
}
.mat-column-description{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 37%;
  max-width: 37%;
}
.mat-column-visibility{
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 5%;
  max-width: 5%;
}
.mat-column-actions{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}
.mat-column-checkbox{
  width: 100%;
  min-width: 5%;
  max-width: 5%;
}

#treeAndTable{
  display: flex;
  flex-direction: row;
}

.sticky{
  display: flex;
  flex-direction: column;
  width:29%;
  position: sticky;
  top: 11.5rem;
  height: fit-content;
}

#searchAndTable{
  width: 70%;
}

#treeButton{
  padding: 1.5rem;
  margin-bottom:1.3rem;
}
#treeButton>button{
  height: 5.6rem;
}

#tree.card-body{
  margin-top:0 !important;
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

#tableHeader{
  display: flex;
  flex-direction: row;
}

#leftSideOfTableHeader{
  align-self: center;
}

#leftSideOfTableHeader>h3{
  margin-bottom: 0;
  margin-left: 5rem;
}

#rightSideOfTableHeader{
  flex-grow: 1;
}

.card-title{
  margin-bottom: 1.5rem;
}
