/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
//@import "../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  //color: $dropdown-text;
}
.modal-footer {
  border-top: none;
  float:right;
}

.paragraphe {
  white-space: pre-line;
}
