/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
:host {
  --div-height: 558px;
}

.divDetail {
  text-align: right;
  margin-top: -10px;
}

.frame {
  height: calc(var(--div-height) + 7rem);
  border: 1px solid var(--gray-400);
  position: relative;
  border-radius: 1.4rem;
  overflow: hidden;
}

#cdiv {
  margin: 10px;
}

a:not([href]) {
  color: #285eb8 !important;
  text-decoration: none !important;
  transition: color 0.2s ease;
  touch-action: manipulation;
  cursor: pointer;

}

.pre-message {
  height: 96%;

}

li {
  word-break: break-all;
  margin: 1rem;
}

li.breadcrumb-item {
  margin: 0;
}

.btn-link {
  border: none;
  color: #285eb8 !important;
  text-align: -webkit-auto;
  word-break: break-all;
  cursor: pointer;
}

pre.description {
  margin: 10px;
  white-space: pre-line;
  font-family: futura-pt, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  word-wrap: break-word;
}

.nested-node {
  padding-left: 40px;
}

.invisible {
  display: none;
}

.mat-tree {

  font-family: futura-pt, Arial, sans-serif;
  font-size: 18px;
}

.clickable-tree-node {
  cursor: pointer;
  padding: 1rem;
  border-radius: 1.4rem;
}

.clickable-tree-node:hover {
  background-color: whitesmoke;
}

.background-highlight {
  background-color: var(--gray-300);
}

.clickable-tree-node.background-highlight:hover {
  background-color: var(--gray-300);
}

.btn-back {
  display: flex;
  justify-content: right;
}


.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title > span:first-child:not(:last-child) {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title > span.context-select-bar {
  align-items: center;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  width: 50%;
}

.card-title > button {
  margin: 0px 3rem;
}

.card-title > span > mat-select {
  max-width: calc(100% - 10rem);
}

.treecol {
  height: var(--div-height);
}

.tab {
  height: var(--div-height);
  overflow: auto;
}

.history-tab {
  height: var(--div-height);
  overflow: auto;
  padding: 1rem;
}


.titleIcon {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
}

.titleIcon > svg {
  width: 2rem;
  height: 2rem;
}

.left {
  padding-left: 0;
  padding-right: 0.5rem
}

.right {
  padding-left: 0.5rem;
  padding-right: 0;
}

