/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.objetTree {
  height: 550px;
  border: 1px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
  position: relative;
  border-radius: 5px;
}

.testStep {
  height: 230px;
  border: 1px solid #b5b5b5;
  padding: 10px 10px 10px 10px;
}

fieldset.description {
  height: 550px;
  border: 1px solid #b5b5b5;
  //margin-top: 30px;
  padding: 10px 10px 10px 10px;
}

pre.description, div.description {
  white-space: pre-line;
  font-size: 18px;
  font-family: futura-pt, Arial, sans-serif;
  line-height: 1.3;
  overflow-y: auto;
  word-wrap: break-word;
  margin: 10px;
}

div.description > span {
  margin: 1rem;
}

.annulSupr {
  float: left;
  margin: 10px 10px 10px 10px;
}

legend {
  line-height: 1;
}

.info {
  display: flex;
  overflow: hidden;
}

.nested-node {
  padding-left: 40px;
}

.btn-back {
  display: flex;
  justify-content: right;
}

.div-info {
  border: 1px solid var(--gray-400);
  background-color: white;
  border-radius: 1.4rem;
  font-size: 18px;
  line-height: 1.1;
  width: 100%;
  height: 60rem;
}

a:not([href]) {
  color: #285eb8 !important;
  text-decoration: none !important;
  transition: color 0.2s ease;
  touch-action: manipulation;
  cursor: pointer;
}

li {
  margin-left: 10px;
  word-break: break-all;
}

.nav.nav-tabs {
  background-color: #b5b5b57d !important;
  height: 34px;
}

.nav.nav-tabs > li.active > a {
  background-color: #b5b5b5 !important;
}

nav.nav-tabs > li > a.btn:hover {
  background-color: #b5b5b5 !important;
  display: inline-table !important;
  vertical-align: middle;
}

.table-responsive {
  margin-top: 0px;
}

.parameters-div {
  padding-top: 2rem;
}

.mat-column-key {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 15%;
  max-width: 15%;
}

mat-tab-group {
  height: 60rem;
}

.mat-column-value {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 40%;
  max-width: 40%;
}

.mat-column-description {
  width: 100%;
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  min-width: 45%;
  max-width: 45%;
}


.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title > span:first-child:not(:last-child){
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title > span.context-select-bar {
  align-items: center;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  width: 50%;
}

.card-title > button {
  margin: 0px 3rem;
}

.card-title > span > mat-select{
  max-width: calc(100% - 10rem);
}
