<!--

    (c) Copyright 2017-2024, ANS. All rights reserved.

-->
<div>
  <div class="modal-header card-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
  </div>
  <form>
    <div class="modal-body">
      <label class="col-sm-3 control-label">{{modalContent}}</label>
      <input id="password" type="password" class="form-control" (keyup)="setPassword($event)" #mypassword tabindex="0">
    </div>
    <div class="modal-footer">

      <button id="btnAnnuler" class="btn btn--default btn--ghost" type="button" (click)="closeModal()" translate="commons.actions.cancel" tabindex="2"></button>
      <button #validate id="btnValidatePwd" class="btn btn--plain btn--primary" type="submit" (click)="analyze()" translate="commons.actions.validate" default tabindex="1"></button>


    </div>
  </form>
</div>
