/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
//@import "../../../../theme/sass/conf/conf";

.modal-buttons .btn {
  margin-bottom: 20px;
  margin-right: 20px;
}

.modal-footer {
  float:right;
 
}
