/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.FileUpload {
    opacity: 0;
  
    position: absolute;
    z-index: 7000;
    width: 100%;
    cursor: pointer;
}

.input-group > .custom-select:not(:last-child), .input-group > .form-control:not(:last-child) {
    border-bottom-right-radius: 1.4rem;
    border-top-right-radius: 1.4rem;
}