/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
// @import "../../../../theme/sass/conf/conf";
.annulSupr {
    display: inline;
}
.composant {
    margin: 20px 10px 10px 20px;
}


.divBtn i {
    padding-right: 5px;
}
.divBtn{
  text-align: right;
}

.radio {
    text-align: center;

}

span.text-danger {
    //font-family: $font-family!important;
    font-size: 16px!important;
    float: left;
    margin-top: 5px,
}

