/**
 * (c) Copyright 2017-2024, ANS. All rights reserved.
 */
.tooltipAr {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #0069b4;

}

.tooltipAr .tooltiptextAr {
  visibility: hidden;
  //font-family: $font-family!important;
  font-size: 16px;
  width: 320px;
  background-color: #0069b4;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltipAr:hover .tooltiptextAr {
  visibility: visible;
}

.objetTree {
  //height: 550px;
  padding: 10px 10px 10px 10px;
  position: relative;
  margin-bottom: 10px;

}

.col-sm-12{
  padding: 0px;
}

.description {
  font-family: futura-pt, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: pre-line;
  max-height: 200px;
}
